@charset "UTF-8";

body
{
	margin: 0;
	padding: 0;
	background: url(1.jpg);	
	background-size: cover;
	background-position: center
}



.body
{
	margin:0;
	padding:0;
	font-family:serif;
	
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   
}

ul.nav-bar li {float: left;}

ul.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav-bar li a:hover:not(.active) {background-color: #4CAF50;}

ul.nav-bar li a.active {background-color: #4CAF50;}

ul.nav-bar li.right {float: right;}

@media screen and (max-width: 600px){
    ul.nav-bar li.right, 
    ul.nav-bar li {float: none;}
}


input[type=text] {
	border: name;
	font-size: 16px;
	border-radius: 10px 10px 10px 10px;
	height: 35px;
	width: 500px;
}

input[type=submit] {
	background-color: #4CAF50;
	border-radius: 20px 20px 20px 20px;
	height: 35px;
	font-family: sans-serif;
	width: 110px;
	font-family: serif;
	font-size: 18px
}

.footer {
	background-color: #333;
	padding: 10px;
	text-align: center;
	margin-top: 400px;
	
}

